<main class="introduction-bg">
  <div class="introduction container">
    <div class="introduction-content">
      <h1 class="ty-1-xxl color-0">Direto da Tabela FIPE<span>.</span></h1>

      <p class="ty-2-l color-0">
        Encontre informações precisas sobre o valor do seu veículo direto da
        Tabela FIPE, de maneira rápida e fácil.
      </p>

      <a class="button color-0" href="#budget" data-anime="400"
        >Conultar Agora</a
      >
    </div>

    <picture data-anime="500">
      <source
        media="(max-width: 800px)"
        srcset="./assets/bicicletas/nimbus.jpg"
      />
      <img
        src="../../../assets/pricePana.svg"
        alt="Imagem ilustrativa."
        width="100%"
      />
    </picture>
  </div>
</main>
